body {
  font-family: "avenir", helvetica, sans-serif; }

.side {
  flex: 1;
  margin: 0 40px; }
  .side h1 {
    text-align: center; }

#total-bar {
  background: #ccc;
  width: 50%;
  margin: 25px auto; }

#bar {
  width: 50%;
  height: 30px;
  border-right: 3px solid black; }

input {
  display: block;
  padding: 20px;
  font-size: 1.2em;
  border-radius: 6px;
  border: 1px solid #ccc; }
  input:focus {
    outline: none; }

input.value {
  padding: 0;
  margin-left: 10px; }

.btn {
  background: #12a7e0;
  padding: 20px;
  color: #fff;
  border-radius: 6px;
  margin-left: 10px; }

.add {
  display: block;
  margin-left: 25px; }

.name {
  flex: 3; }

.value {
  flex: 1; }

.itemName {
  display: inline-block; }

.remove {
  margin-right: 20px;
  color: #ccc;
  font-weight: bold;
  text-decoration: none; }

.item {
  display: flex;
  align-items: center; }

#decision {
  font-size: 1.6em;
  text-align: center; }
